flows/anomaly_monitor.yml
id: anomaly_monitor
namespace: aegis
description: |
  Proactive Data Quality Monitor — detects anomalies BEFORE pipelines break.
  
  Compares current data quality metrics against stored baselines in data_quality_baselines table.
  If any metric is outside its expected range, triggers the self-healing webhook with a DATA_ANOMALY error.
  
  Runs on a 15-minute schedule in production, or manually during demos.

tasks:
  # ═══════════════════════════════════════════════════════
  # STEP 1: Discover all monitored tables from baselines
  # ═══════════════════════════════════════════════════════
  - id: discover_tables
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **Table Discovery** — Queries data_quality_baselines to find all monitored tables for anomaly scanning.
    beforeCommands:
      - pip install duckdb==1.3.0
    script: |
      import os, sys, json, duckdb

      db_path = "/tmp/kestra-wd/pipeline.duckdb"
      if not os.path.exists(db_path):
          print("Database not found. Run setup_database first.", file=sys.stderr)
          sys.exit(1)

      con = duckdb.connect(db_path, read_only=True)
      tables = con.execute("""
          SELECT DISTINCT table_name FROM data_quality_baselines ORDER BY table_name
      """).fetchall()
      con.close()

      table_list = [t[0] for t in tables]
      print(f"📋 Found {len(table_list)} monitored tables: {', '.join(table_list)}")
      print(f"::{json.dumps({'outputs': {'tables': json.dumps(table_list)}})}::", flush=True)

  # ═══════════════════════════════════════════════════════
  # STEP 2: Check each table against its baselines
  # ═══════════════════════════════════════════════════════
  - id: check_tables
    type: io.kestra.plugin.core.flow.EachSequential
    value: "{{ outputs.discover_tables.vars.tables }}"
    tasks:
      - id: check_data_quality
        type: io.kestra.plugin.scripts.python.Script
        description: |
          **Quality Inspector** — Compares live metrics (row counts, null rates, value ranges) against stored baselines and triggers self-healing if anomalies found.
        beforeCommands:
          - pip install duckdb==1.3.0 requests==2.32.3
        env:
          TABLE_NAME: "{{ taskrun.value }}"
        script: |
          import os, sys, json, duckdb

          def main():
              table_name = os.getenv("TABLE_NAME", "orders")
              db_path = "/tmp/kestra-wd/pipeline.duckdb"
              if not os.path.exists(db_path):
                  print("Database not found.", file=sys.stderr)
                  sys.exit(1)

              con = duckdb.connect(db_path, read_only=True)
              anomalies = []
              metrics_report = []

              print("═══════════════════════════════════════════════════")
              print(f"🔍 KESTRA AEGIS — MONITORING TABLE: {table_name}")
              print("═══════════════════════════════════════════════════\n")

              # ── Gather Current Metrics ──────────────────────
              current_values = {}
              try:
                  row_count = con.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
                  current_values["row_count"] = row_count
                  metrics_report.append(f"  📊 Row Count: {row_count}")

                  # Get numeric columns for analysis
                  columns = con.execute(f"""
                      SELECT column_name, data_type FROM information_schema.columns
                      WHERE table_name = '{table_name}' AND table_schema = 'main'
                  """).fetchall()

                  for col_name, col_type in columns:
                      if col_type.upper() in ('DECIMAL', 'DOUBLE', 'FLOAT', 'INTEGER', 'BIGINT', 'NUMERIC'):
                          # Null percentage
                          null_count = con.execute(f"SELECT COUNT(*) FROM {table_name} WHERE {col_name} IS NULL").fetchone()[0]
                          null_pct = (null_count / max(row_count, 1)) * 100
                          current_values[f"null_{col_name}_pct"] = null_pct
                          metrics_report.append(f"  📊 NULL {col_name}: {null_count} ({null_pct:.1f}%)")

                          # Average
                          avg_val = con.execute(f"SELECT AVG({col_name}) FROM {table_name} WHERE {col_name} IS NOT NULL").fetchone()[0]
                          avg_val = float(avg_val) if avg_val else 0
                          current_values[f"avg_{col_name}"] = avg_val
                          metrics_report.append(f"  📊 Avg {col_name}: {avg_val:.2f}")

                          # Min/Max
                          min_val = con.execute(f"SELECT MIN({col_name}) FROM {table_name} WHERE {col_name} IS NOT NULL").fetchone()[0]
                          min_val = float(min_val) if min_val else 0
                          current_values[f"min_{col_name}"] = min_val

                          max_val = con.execute(f"SELECT MAX({col_name}) FROM {table_name} WHERE {col_name} IS NOT NULL").fetchone()[0]
                          max_val = float(max_val) if max_val else 0
                          current_values[f"max_{col_name}"] = max_val

              except Exception as e:
                  print(f"Error gathering metrics for {table_name}: {e}", file=sys.stderr)
                  sys.exit(1)

              print("Current Metrics:")
              for m in metrics_report:
                  print(m)
              print()

              # ── Compare Against Baselines ───────────────────
              try:
                  baselines = con.execute("""
                      SELECT metric_name, expected_min, expected_max, description
                      FROM data_quality_baselines
                      WHERE table_name = ?
                  """, [table_name]).fetchall()
              except Exception:
                  baselines = []
                  print("Warning: No baselines found.", file=sys.stderr)

              print("Baseline Checks:")
              for metric_name, expected_min, expected_max, description in baselines:
                  current_val = current_values.get(metric_name)
                  if current_val is None:
                      print(f"  ⚪ SKIP {metric_name}: metric not computed")
                      continue

                  status = "✅ PASS"
                  if current_val < expected_min or current_val > expected_max:
                      status = "❌ FAIL"
                      anomalies.append({
                          "metric": metric_name,
                          "current": current_val,
                          "expected_min": expected_min,
                          "expected_max": expected_max,
                          "description": description
                      })

                  print(f"  {status} {metric_name}: {current_val} (expected: {expected_min}–{expected_max})")

              print()
              con.close()

              # ── Report Results ─────────────────────────────
              if not anomalies:
                  print(f"🟢 ALL CHECKS PASSED for '{table_name}' — Data quality within expected ranges.")
                  outputs = {
                      "status": "HEALTHY",
                      "table_name": table_name,
                      "anomaly_count": 0,
                      "details": f"All data quality metrics for '{table_name}' within expected baselines.",
                      "triggered_healing": "false"
                  }
                  print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                  return

              # ── ANOMALY DETECTED — Trigger Self-Healing ────
              print(f"🔴 {len(anomalies)} ANOMALIES DETECTED in '{table_name}'!")
              for a in anomalies:
                  print(f"   ⚠️ {a['metric']}: {a['current']} (expected {a['expected_min']}–{a['expected_max']})")

              anomaly_summary = "; ".join([
                  f"{a['metric']}={a['current']} (expected {a['expected_min']}-{a['expected_max']})"
                  for a in anomalies
              ])

              # Build schema info dynamically
              schema_con = duckdb.connect(db_path, read_only=True)
              cols = schema_con.execute(f"""
                  SELECT column_name, data_type FROM information_schema.columns
                  WHERE table_name = '{table_name}' AND table_schema = 'main'
                  ORDER BY ordinal_position
              """).fetchall()
              schema_info = ", ".join([f"{c[0]} {c[1]}" for c in cols])

              row_count_val = current_values.get('row_count', 0)
              schema_con.close()

              payload = {
                  "pipeline_name": "aegis_anomaly_monitor",
                  "error_type": "DATA_ANOMALY",
                  "error_message": f"Proactive anomaly detection on '{table_name}'. Anomalies: {anomaly_summary}",
                  "affected_table": table_name,
                  "schema_info": schema_info,
                  "sample_data": f"Row count: {row_count_val}, Anomalies: {len(anomalies)}",
                  "stack_trace": "Detected by aegis.anomaly_monitor scheduled scan."
              }

              # Trigger self-healing webhook
              print("\n🚀 Triggering self-healing webhook...")
              try:
                  import requests
                  webhook_url = "http://localhost:8080/api/v1/executions/webhook/aegis/self_healing/aegis-webhook-secret"
                  resp = requests.post(webhook_url, json=payload, timeout=10)
                  print(f"   Webhook response: {resp.status_code}")
                  triggered = resp.status_code in [200, 201, 204]
              except Exception as e:
                  print(f"   Warning: Could not trigger webhook: {e}", file=sys.stderr)
                  triggered = False

              outputs = {
                  "status": "ANOMALY_DETECTED",
                  "table_name": table_name,
                  "anomaly_count": len(anomalies),
                  "details": anomaly_summary,
                  "triggered_healing": str(triggered).lower()
              }
              print(f"\n::{json.dumps({'outputs': outputs})}::", flush=True)

          if __name__ == "__main__":
              main()


