flows/failure_simulator.yml
id: failure_simulator
namespace: aegis
description: |
  Injects realistic failures into the demo database and triggers the self-healing webhook.
  Supports 5 failure types across multiple tables: TYPE_MISMATCH, NULL_VIOLATION, 
  SCHEMA_DRIFT, DATA_ANOMALY, and CUSTOMER_DATA_CORRUPTION.

labels:
  scenario: "{{ inputs.failure_type }}"

inputs:
  - id: failure_type
    type: SELECT
    defaults: TYPE_MISMATCH
    values:
      - TYPE_MISMATCH
      - NULL_VIOLATION
      - SCHEMA_DRIFT
      - DATA_ANOMALY
      - CUSTOMER_DATA_CORRUPTION

tasks:
  - id: run_simulation
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **Failure Injector** — Injects realistic data corruption into DuckDB tables to demonstrate self-healing capabilities.
    beforeCommands:
      - pip install duckdb==1.3.0
    script: |
      import sys
      import json
      import os
      import duckdb

      db_path = "/tmp/kestra-wd/pipeline.duckdb"
      if not os.path.exists(db_path):
          print(f"Error: Database file {db_path} not found. Please run setup_database first.", file=sys.stderr)
          sys.exit(1)

      con = duckdb.connect(db_path)
      
      pipeline_name = "daily_orders_ingest"
      affected_table = "orders"
      schema_info = "order_id INTEGER, customer_name VARCHAR, amount DECIMAL(10,2), order_date DATE"
      
      payload = {}
      failure_type = "{{ inputs.failure_type }}"

      try:
          if failure_type == "TYPE_MISMATCH":
              try:
                  con.execute("INSERT INTO orders VALUES (16, 'Bad Charlie', 'not_a_number', '2026-06-03')")
                  error_msg = "Successfully inserted but value type is incorrect"
              except Exception as e:
                  error_msg = str(e)
              
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "TYPE_MISMATCH",
                  "error_message": f"Column 'amount' expected DECIMAL but got VARCHAR 'not_a_number'. Database error: {error_msg}",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Row 16: (16, 'Bad Charlie', 'not_a_number', '2026-06-03')",
                  "stack_trace": "ConversionException: Could not convert string 'not_a_number' to DOUBLE"
              }

          elif failure_type == "NULL_VIOLATION":
              con.execute("UPDATE orders SET amount = NULL WHERE order_id IN (2, 8)")
              
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "NULL_VIOLATION",
                  "error_message": "Data Quality check failed: 'amount' column contains NULL values in non-nullable constraints.",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Row 2: (2, 'Bob Johnson', NULL, '2026-06-01'), Row 8: (8, 'Hannah Abbott', NULL, '2026-06-03')",
                  "stack_trace": "AssertionError: Column 'amount' failed validation rule 'not_null_check'."
              }

          elif failure_type == "SCHEMA_DRIFT":
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "SCHEMA_DRIFT",
                  "error_message": "Schema mismatch: Source CSV contains 5 columns, but target table 'orders' expects 4 columns. Missing column in target: 'discount_code'",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Header: order_id,customer_name,amount,order_date,discount_code\nRow 1: (1, 'Alice Smith', 120.50, '2026-06-01', 'SAVE10')",
                  "stack_trace": "ValueError: Columns in source data do not match target database schema."
              }

          elif failure_type == "DATA_ANOMALY":
              before_count = con.execute("SELECT COUNT(*) FROM orders").fetchone()[0]
              con.execute("DELETE FROM orders WHERE order_id > 3")
              after_count = con.execute("SELECT COUNT(*) FROM orders").fetchone()[0]
              
              payload = {
                  "pipeline_name": "aegis_anomaly_simulation",
                  "error_type": "DATA_ANOMALY",
                  "error_message": f"Sudden data volume drop detected. Row count went from {before_count} to {after_count} — {((before_count - after_count) / max(before_count, 1)) * 100:.0f}% data loss.",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": f"Before: {before_count} rows, After: {after_count} rows. Only rows with order_id <= 3 remain.",
                  "stack_trace": "DataAnomalyException: Row count dropped below minimum threshold of 10."
              }

          elif failure_type == "CUSTOMER_DATA_CORRUPTION":
              # Cross-table scenario: corrupt customer emails to NULL
              con.execute("UPDATE customers SET email = NULL WHERE customer_id IN (3, 5, 7)")
              
              payload = {
                  "pipeline_name": "customer_sync_pipeline",
                  "error_type": "NULL_VIOLATION",
                  "error_message": "Data Quality check failed: 'email' column in customers table contains NULL values. 3 customer records have missing email addresses.",
                  "affected_table": "customers",
                  "schema_info": "customer_id INTEGER, name VARCHAR, email VARCHAR, signup_date DATE, lifetime_value DECIMAL(10,2)",
                  "sample_data": "Row 3: (3, 'Charlie Brown', NULL, '2025-03-10', 2100.75), Row 5: (5, 'Evan Wright', NULL, '2025-05-12', 3200.00)",
                  "stack_trace": "AssertionError: Column 'email' failed validation rule 'not_null_check' on 'customers' table."
              }
              
          print(f"::{json.dumps({'outputs': {'payload': payload}})}::", flush=True)

      finally:
          con.close()

  - id: trigger_webhook
    type: io.kestra.plugin.core.http.Request
    description: |
      **Healing Trigger** — Sends the failure payload to the self_healing webhook to initiate automated diagnosis and repair.
    uri: http://localhost:8080/api/v1/executions/webhook/aegis/self_healing/aegis-webhook-secret
    method: POST
    contentType: application/json
    body: "{{ outputs.run_simulation.vars.payload }}"
