flows/failure_simulator.yml
id: failure_simulator
namespace: aegis

inputs:
  - id: failure_type
    type: SELECT
    defaults: TYPE_MISMATCH
    values:
      - TYPE_MISMATCH
      - NULL_VIOLATION
      - SCHEMA_DRIFT

tasks:
  - id: run_simulation
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install duckdb
    docker:
      volumes:
        - /tmp/kestra-wd:/app/data
    script: |
      import sys
      import argparse
      import json
      import os
      import duckdb

      db_path = "/app/data/pipeline.duckdb"
      if not os.path.exists(db_path):
          print(f"Error: Database file {db_path} not found. Please run setup_database first.", file=sys.stderr)
          sys.exit(1)

      con = duckdb.connect(db_path)
      
      pipeline_name = "daily_orders_ingest"
      affected_table = "orders"
      schema_info = "order_id INTEGER, customer_name VARCHAR, amount DECIMAL(10,2), order_date DATE"
      
      payload = {}
      failure_type = "{{ inputs.failure_type }}"

      try:
          if failure_type == "TYPE_MISMATCH":
              try:
                  con.execute("INSERT INTO orders VALUES (16, 'Bad Charlie', 'not_a_number', '2026-06-03')")
                  error_msg = "Successfully inserted but value type is incorrect"
              except Exception as e:
                  error_msg = str(e)
              
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "TYPE_MISMATCH",
                  "error_message": f"Column 'amount' expected DECIMAL but got VARCHAR 'not_a_number'. Database error: {error_msg}",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Row 16: (16, 'Bad Charlie', 'not_a_number', '2026-06-03')",
                  "stack_trace": "ConversionException: Conversion Error: Could not convert string 'not_a_number' to DOUBLE"
              }

          elif failure_type == "NULL_VIOLATION":
              con.execute("UPDATE orders SET amount = NULL WHERE order_id IN (2, 8)")
              
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "NULL_VIOLATION",
                  "error_message": "Data Quality check failed: 'amount' column contains NULL values in non-nullable constraints.",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Row 2: (2, 'Bob Johnson', NULL, '2026-06-01'), Row 8: (8, 'Hannah Abbott', NULL, '2026-06-03')",
                  "stack_trace": "AssertionError: Column 'amount' in table 'orders' failed validation rule 'not_null_check'."
              }

          elif failure_type == "SCHEMA_DRIFT":
              payload = {
                  "pipeline_name": pipeline_name,
                  "error_type": "SCHEMA_DRIFT",
                  "error_message": "Schema mismatch: Source CSV contains 5 columns, but target table 'orders' expects 4 columns. Missing column in target: 'discount_code'",
                  "affected_table": affected_table,
                  "schema_info": schema_info,
                  "sample_data": "Header: order_id,customer_name,amount,order_date,discount_code\nRow 1: (1, 'Alice Smith', 120.50, '2026-06-01', 'SAVE10')",
                  "stack_trace": "ValueError: Columns in source data do not match target database schema."
              }
              
          from kestra import Kestra
          Kestra.outputs({"payload": payload})

      finally:
          con.close()

  - id: trigger_webhook
    type: io.kestra.plugin.core.http.Request
    uri: http://localhost:8080/api/v1/executions/webhook/aegis/self_healing/aegis-webhook-secret
    method: POST
    contentType: application/json
    body: "{{ outputs.run_simulation.vars.payload }}"
