flows/self_healing.yml
id: self_healing
namespace: aegis
description: |
  Kestra Aegis — Self-Healing Pipeline Orchestrator
  
  When a pipeline fails, this flow:
  1. Classifies the error risk level (LOW/HIGH)
  2. Logs the incident for correlation analysis
  3. Checks Fix Memory for a proven past fix (skips AI if found)
  4. If no memory hit → calls Gemini AI with recent incident context for correlation
  5. Routes: LOW risk → auto-remediate | HIGH risk → human approval gate
  6. After successful fix → stores fix in memory for future reuse
  7. Generates a structured post-mortem with memory stats

labels:
  severity: "{{ outputs.classify_error.vars.risk_level }}"
  pipeline: "{{ vars.pipeline_name }}"
  fix_source: "{{ outputs.diagnose.vars.fix_source }}"
  error_type: "{{ vars.error_type }}"

concurrency:
  limit: 1
  behavior: QUEUE

variables:
  pipeline_name: "{{ (trigger is defined and trigger.containsKey('flowId')) ? trigger.flowId : ((trigger is defined and trigger.containsKey('body')) ? trigger.body.pipeline_name : inputs.pipeline_name) }}"
  error_type: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.error_type : inputs.error_type }}"
  error_message: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.error_message : inputs.error_message }}"
  affected_table: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.affected_table : inputs.affected_table }}"
  schema_info: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.schema_info : inputs.schema_info }}"
  sample_data: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.sample_data : inputs.sample_data }}"
  stack_trace: "{{ (trigger is defined and trigger.containsKey('body')) ? trigger.body.stack_trace : inputs.stack_trace }}"
  failed_execution_id: "{{ (trigger is defined and trigger.containsKey('executionId')) ? trigger.executionId : '' }}"

inputs:
  - id: pipeline_name
    type: STRING
  - id: error_message
    type: STRING
  - id: error_type
    type: STRING
    defaults: UNKNOWN
  - id: affected_table
    type: STRING
    defaults: unknown
  - id: stack_trace
    type: STRING
    defaults: ""
  - id: sample_data
    type: STRING
    defaults: ""
  - id: schema_info
    type: STRING
    defaults: ""

tasks:
  # ══════════════════════════════════════════════════════════
  # STEP 0: Fetch Failed Execution Context (if run as listener)
  # ══════════════════════════════════════════════════════════
  - id: fetch_failed_execution_context
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **Failed Context Extractor** — Queries Kestra API to retrieve the logs and inputs of the failed execution.
    runIf: "{{ trigger is defined and trigger.containsKey('executionId') }}"
    beforeCommands:
      - pip install requests==2.32.3
    env:
      FAILED_EXECUTION_ID: "{{ vars.failed_execution_id }}"
    script: |
      import os, sys, json, requests
      
      failed_exec_id = os.getenv("FAILED_EXECUTION_ID")
      auth = ("admin@kestra.io", "Admin1234!")
      
      url = f"http://localhost:8080/api/v1/executions/{failed_exec_id}"
      try:
          resp = requests.get(url, auth=auth, timeout=10)
          if resp.status_code != 200:
              print(f"Error fetching execution: {resp.text}", file=sys.stderr)
              sys.exit(0)
          
          exec_data = resp.json()
          pipeline_name = exec_data.get("flowId", "unknown_flow")
          
          failed_task_run = None
          for tr in exec_data.get("taskRunList", []):
              if tr.get("state", {}).get("current") == "FAILED":
                  failed_task_run = tr
                  break
          
          error_message = "Execution failed."
          error_type = "UNKNOWN"
          affected_table = "unknown"
          schema_info = ""
          sample_data = ""
          stack_trace = ""
          
          if failed_task_run:
              outputs = failed_task_run.get("outputs") or {}
              error_message = outputs.get("error_message") or f"Task '{failed_task_run.get('taskId')}' failed."
              error_type = outputs.get("error_type") or "UNKNOWN"
              affected_table = outputs.get("affected_table") or "unknown"
              schema_info = outputs.get("schema_info") or ""
              sample_data = outputs.get("sample_data") or ""
              
          log_url = f"http://localhost:8080/api/v1/logs/{failed_exec_id}"
          log_resp = requests.get(log_url, auth=auth, timeout=10)
          if log_resp.status_code == 200:
              logs = log_resp.json()
              err_logs = [l.get("message", "") for l in logs if l.get("level") in ("ERROR", "WARN")]
              if err_logs:
                  stack_trace = "\n".join(err_logs[:10])
                  if error_message == "Execution failed." or "failed" in error_message.lower():
                      for log_msg in err_logs:
                          if "Exception" in log_msg or "Error" in log_msg:
                              error_message = log_msg
                              break
          
          if error_type == "UNKNOWN":
              if "conversion" in error_message.lower() or "type" in error_message.lower():
                  error_type = "TYPE_MISMATCH"
              elif "null" in error_message.lower():
                  error_type = "NULL_VIOLATION"
              elif "schema" in error_message.lower() or "column" in error_message.lower():
                  error_type = "SCHEMA_DRIFT"
              elif "anomaly" in error_message.lower() or "volume" in error_message.lower():
                  error_type = "DATA_ANOMALY"
          
          outs = {
              "pipeline_name": pipeline_name,
              "error_type": error_type,
              "error_message": error_message,
              "affected_table": affected_table,
              "schema_info": schema_info,
              "sample_data": sample_data,
              "stack_trace": stack_trace[:1000]
          }
          print(f"::{json.dumps({'outputs': outs})}::", flush=True)
          
      except Exception as e:
          print(f"Error querying failed execution: {e}", file=sys.stderr)
          sys.exit(0)

  # ══════════════════════════════════════════════════════════
  # STEP 1: Classify Error Risk Level
  # ══════════════════════════════════════════════════════════
  - id: classify_error
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **Risk Classification Engine** — Categorizes pipeline failures as LOW or HIGH risk based on error type patterns.
    env:
      ERROR_TYPE: "{{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}"
      ERROR_MESSAGE: "{{ outputs.fetch_failed_execution_context.outputs.error_message ?? vars.error_message }}"
    script: |
      import json
      import os

      error_type = os.getenv("ERROR_TYPE", "UNKNOWN").upper()
      error_msg = os.getenv("ERROR_MESSAGE", "")

      HIGH_RISK_TYPES = ["SCHEMA_DRIFT", "DATA_LOSS", "PERMISSION_ERROR", "DATA_ANOMALY"]
      LOW_RISK_TYPES = ["TYPE_MISMATCH", "NULL_VIOLATION", "API_TIMEOUT", "STALE_DATA"]

      if error_type in HIGH_RISK_TYPES:
          risk_level = "HIGH"
      elif error_type in LOW_RISK_TYPES:
          risk_level = "LOW"
      else:
          risk_level = "HIGH"

      outputs = {
          "risk_level": risk_level,
          "error_type": error_type,
          "error_message": error_msg
      }
      print(f"::{json.dumps({'outputs': outputs})}::", flush=True)

  # ══════════════════════════════════════════════════════════
  # STEP 2: Memory Lookup + Incident Logging + AI Diagnosis
  # 
  # This is the brain of Aegis. It:
  #   a) Logs the incident to incident_log for correlation
  #   b) Generates an error signature and checks fix_history
  #   c) If MEMORY HIT → uses the proven fix (no Gemini call)
  #   d) If MEMORY MISS → pulls recent incidents for context,
  #      calls Gemini with full correlation data
  # ══════════════════════════════════════════════════════════
  - id: diagnose
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **AI Diagnosis with Memory** — Checks fix_history for proven solutions before calling Gemini. Logs incidents for cross-pipeline correlation.
    beforeCommands:
      - pip install google-genai==1.14.0 duckdb==1.3.0
    env:
      GEMINI_API_KEY: "{{ globals['gemini-api-key'] }}"
      PIPELINE_NAME: "{{ outputs.fetch_failed_execution_context.outputs.pipeline_name ?? vars.pipeline_name }}"
      ERROR_TYPE: "{{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}"
      ERROR_MESSAGE: "{{ outputs.fetch_failed_execution_context.outputs.error_message ?? vars.error_message }}"
      AFFECTED_TABLE: "{{ outputs.fetch_failed_execution_context.outputs.affected_table ?? vars.affected_table }}"
      SCHEMA_INFO: "{{ outputs.fetch_failed_execution_context.outputs.schema_info ?? vars.schema_info }}"
      SAMPLE_DATA: "{{ outputs.fetch_failed_execution_context.outputs.sample_data ?? vars.sample_data }}"
      STACK_TRACE: "{{ outputs.fetch_failed_execution_context.outputs.stack_trace ?? vars.stack_trace }}"
    script: |
      import os
      import sys
      import json
      import hashlib
      import re
      from datetime import datetime

      def generate_error_signature(error_type, affected_table, error_message):
          """Create a stable signature for matching similar errors.
          Uses regex normalization to strip variable parts (quoted strings,
          numbers, UUIDs, timestamps) for robust fuzzy matching."""
          normalized = error_message.lower().strip()
          normalized = re.sub(r"'[^']*'", "'?'", normalized)        # quoted strings
          normalized = re.sub(r'"[^"]*"', '"?"', normalized)         # double-quoted
          normalized = re.sub(r'[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}', 'UUID', normalized)
          normalized = re.sub(r'\d{4}-\d{2}-\d{2}[T ]\d{2}:\d{2}:\d{2}', 'TIMESTAMP', normalized)
          normalized = re.sub(r'\b\d+(\.\d+)?\b', '#', normalized)  # numbers
          normalized = re.sub(r'\s+', ' ', normalized)               # collapse whitespace
          raw = f"{error_type}|{affected_table}|{normalized}"
          return hashlib.md5(raw.encode()).hexdigest()

      def main():
          api_key = os.getenv("GEMINI_API_KEY")
          pipeline_name = os.getenv("PIPELINE_NAME", "unknown")
          error_type = os.getenv("ERROR_TYPE", "UNKNOWN").upper()
          error_message = os.getenv("ERROR_MESSAGE", "")
          affected_table = os.getenv("AFFECTED_TABLE", "unknown")
          schema_info = os.getenv("SCHEMA_INFO", "")
          sample_data = os.getenv("SAMPLE_DATA", "")
          stack_trace = os.getenv("STACK_TRACE", "")

          db_path = "/tmp/kestra-wd/pipeline.duckdb"
          fix_source = "AI"
          correlation_notes = ""
          memory_stats = {"total_fixes_stored": 0, "cache_hit_rate": "N/A"}

          # ── Connect to DuckDB ──────────────────────────
          import duckdb
          con = None
          try:
              if os.path.exists(db_path):
                  con = duckdb.connect(db_path)
              else:
                  print("Warning: Database not found, skipping memory lookup.", file=sys.stderr)
          except Exception as e:
              print(f"Warning: Could not connect to DB for memory: {e}", file=sys.stderr)

          error_signature = generate_error_signature(error_type, affected_table, error_message)
          incident_id = None

          if con:
              try:
                  # ── LOG INCIDENT ─────────────────────────
                  max_id = con.execute("SELECT COALESCE(MAX(id), 0) FROM incident_log").fetchone()[0]
                  incident_id = max_id + 1
                  con.execute("""
                      INSERT INTO incident_log (id, pipeline_name, error_type, error_message, affected_table, risk_level, status, created_at)
                      VALUES (?, ?, ?, ?, ?, ?, 'PENDING', CURRENT_TIMESTAMP)
                  """, [incident_id, pipeline_name, error_type, error_message[:500], affected_table, "PENDING"])
                  print(f"📝 Incident #{incident_id} logged.")

                  # ── MEMORY LOOKUP ───────────────────────
                  print(f"🔍 Checking fix memory (signature: {error_signature[:12]}...)...")
                  cached = con.execute("""
                      SELECT fix_type, fix_code, root_cause, explanation, confidence, risk_assessment, applied_count
                      FROM fix_history
                      WHERE error_signature = ? AND success = TRUE
                      ORDER BY applied_count DESC, last_applied_at DESC
                      LIMIT 1
                  """, [error_signature]).fetchone()

                  # Memory stats
                  total_fixes = con.execute("SELECT COUNT(*) FROM fix_history WHERE success = TRUE").fetchone()[0]
                  total_incidents = con.execute("SELECT COUNT(*) FROM incident_log").fetchone()[0]
                  cache_hits = con.execute("SELECT COUNT(*) FROM incident_log WHERE fix_source = 'MEMORY'").fetchone()[0]
                  hit_rate = f"{(cache_hits / max(total_incidents - 1, 1)) * 100:.0f}%" if total_incidents > 1 else "N/A"
                  memory_stats = {
                      "total_fixes_stored": total_fixes,
                      "total_incidents": total_incidents,
                      "cache_hits": cache_hits,
                      "cache_hit_rate": hit_rate
                  }

                  if cached:
                      fix_type, fix_code, root_cause, explanation, confidence, risk_assessment, applied_count = cached
                      print(f"✅ MEMORY HIT! Found proven fix (applied {applied_count}x before). Skipping Gemini.")
                      fix_source = "MEMORY"

                      # Update applied count and timestamp
                      con.execute("""
                          UPDATE fix_history
                          SET applied_count = applied_count + 1, last_applied_at = CURRENT_TIMESTAMP
                          WHERE error_signature = ? AND success = TRUE
                      """, [error_signature])

                      # Update incident with source
                      con.execute("UPDATE incident_log SET fix_source = 'MEMORY' WHERE id = ?", [incident_id])

                      result_json = {
                          "root_cause": root_cause,
                          "fix_type": fix_type,
                          "fix_code": fix_code,
                          "explanation": f"[FROM MEMORY — applied {applied_count + 1}x] {explanation}",
                          "confidence": confidence,
                          "risk_assessment": risk_assessment
                      }
                      outputs = {**result_json, "fix_source": fix_source, "error_signature": error_signature,
                                 "incident_id": str(incident_id), "memory_stats": json.dumps(memory_stats),
                                 "correlation_notes": ""}
                      print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                      con.close()
                      return

                  print("❌ No memory hit. Calling Gemini AI for diagnosis...")

                  # ── INCIDENT CORRELATION ────────────────
                  recent = con.execute("""
                      SELECT pipeline_name, error_type, error_message, affected_table, status, root_cause
                      FROM incident_log
                      WHERE created_at >= CURRENT_TIMESTAMP - INTERVAL 10 MINUTE
                        AND id != ?
                      ORDER BY created_at DESC
                      LIMIT 10
                  """, [incident_id]).fetchall()

                  if recent:
                      correlation_notes = f"Found {len(recent)} related incidents in the last 10 minutes:\n"
                      for r in recent:
                          correlation_notes += f"  - [{r[1]}] {r[0]}.{r[3]} — {r[4]} — {r[2][:80]}\n"
                      print(f"🔗 {len(recent)} recent incidents found for correlation context.")
                  else:
                      print("🔗 No recent incidents for correlation.")

                  # Update incident source
                  con.execute("UPDATE incident_log SET fix_source = 'AI' WHERE id = ?", [incident_id])

              except Exception as e:
                  print(f"Warning: Memory/correlation error (non-fatal): {e}", file=sys.stderr)
                  import traceback
                  traceback.print_exc(file=sys.stderr)

          # ── GEMINI AI DIAGNOSIS ─────────────────────────
          if not api_key:
              print("Error: GEMINI_API_KEY not set.", file=sys.stderr)
              result_json = {
                  "root_cause": "GEMINI_API_KEY not configured",
                  "fix_type": "SKIP", "fix_code": "",
                  "explanation": "Cannot diagnose without API key.",
                  "confidence": 0.0, "risk_assessment": "HIGH"
              }
          else:
              try:
                  from google import genai
                  from google.genai import types

                  correlation_section = ""
                  if correlation_notes:
                      correlation_section = f"""
          IMPORTANT — INCIDENT CORRELATION CONTEXT:
          There are other recent failures in the system. Analyze whether this failure
          is related to any of them. If they share a common root cause, mention it.
          {correlation_notes}
          """

                  prompt = f"""
          You are Kestra Aegis, an automated self-healing data pipeline assistant.
          Analyze this failure and generate an executable fix.

          Current Failure:
          - Pipeline: {pipeline_name}
          - Error Type: {error_type}
          - Error Message: {error_message}
          - Affected Table: {affected_table}
          - Schema: {schema_info}
          - Sample Data: {sample_data}
          - Stack Trace: {stack_trace}
          {correlation_section}
          Target database is DuckDB. Use DuckDB-compatible SQL syntax.
          NEVER generate DROP, DELETE, or TRUNCATE statements.
          The generated fix_code MUST be a single, valid DuckDB SQL statement (typically UPDATE, ALTER TABLE, or INSERT) that modifies the target database in-place to resolve the issue. Do NOT generate SELECT statements, as SELECT statements do not modify the database. The table to modify is the Affected Table.
          If multiple related errors exist, identify the shared root cause.
          """

                  client = genai.Client(api_key=api_key)
                  response = client.models.generate_content(
                      model='gemini-2.5-flash',
                      contents=prompt,
                      config=types.GenerateContentConfig(
                          response_mime_type="application/json",
                          response_schema=types.Schema(
                              type=types.Type.OBJECT,
                              properties={
                                  "root_cause": types.Schema(type=types.Type.STRING),
                                  "fix_type": types.Schema(type=types.Type.STRING, enum=["SQL", "RETRY", "SKIP"]),
                                  "fix_code": types.Schema(type=types.Type.STRING),
                                  "explanation": types.Schema(type=types.Type.STRING),
                                  "confidence": types.Schema(type=types.Type.NUMBER),
                                  "risk_assessment": types.Schema(type=types.Type.STRING, enum=["LOW", "HIGH"])
                              },
                              required=["root_cause", "fix_type", "fix_code", "explanation", "confidence", "risk_assessment"]
                          )
                      )
                  )
                  result_json = json.loads(response.text)
                  print(f"🤖 Gemini diagnosis complete. Confidence: {result_json.get('confidence', 'N/A')}")

              except Exception as e:
                  print(f"Gemini error: {e}", file=sys.stderr)
                  result_json = {
                      "root_cause": f"Gemini diagnosis failed: {str(e)}",
                      "fix_type": "SKIP", "fix_code": "",
                      "explanation": "AI diagnosis failed. Manual intervention required.",
                      "confidence": 0.0, "risk_assessment": "HIGH"
                  }

          fix_source = "AI"
          outputs = {
              **result_json,
              "fix_source": fix_source,
              "error_signature": error_signature,
              "incident_id": str(incident_id) if incident_id else "0",
              "memory_stats": json.dumps(memory_stats),
              "correlation_notes": correlation_notes[:500] if correlation_notes else ""
          }

          # Emit Kestra metrics
          metrics = [
              {"name": "aegis.memory.cache_hit", "type": "counter", "value": 1 if fix_source == "MEMORY" else 0},
              {"name": "aegis.memory.ai_call", "type": "counter", "value": 1 if fix_source == "AI" else 0}
          ]
          print(f"::{json.dumps({'metrics': metrics})}::", flush=True)

          print(f"::{json.dumps({'outputs': outputs})}::", flush=True)

          if con:
              con.close()

      if __name__ == "__main__":
          main()

  # ══════════════════════════════════════════════════════════
  # STEP 3: Risk Gate — Route by Risk Level (with confidence threshold override)
  # ══════════════════════════════════════════════════════════
  - id: risk_gate
    type: io.kestra.plugin.core.flow.Switch
    description: |
      **Intelligent Router** — Routes to auto-remediation (LOW risk + high confidence) or human approval gate (HIGH risk or low confidence).
    value: "{{ outputs.diagnose.vars.confidence < 0.5 ? 'HIGH' : outputs.classify_error.vars.risk_level }}"
    cases:
      LOW:
        - id: auto_remediate
          type: io.kestra.plugin.core.flow.Subflow
          flowId: remediate_pipeline
          namespace: aegis
          inputs:
            fix_type: "{{ outputs.diagnose.vars.fix_type }}"
            fix_code: "{{ outputs.diagnose.vars.fix_code }}"
            error_signature: "{{ outputs.diagnose.vars.error_signature }}"
            incident_id: "{{ outputs.diagnose.vars.incident_id }}"
            fix_source: "{{ outputs.diagnose.vars.fix_source }}"
            root_cause: "{{ outputs.diagnose.vars.root_cause }}"
            explanation: "{{ outputs.diagnose.vars.explanation }}"
            confidence: "{{ outputs.diagnose.vars.confidence }}"
            risk_assessment: "{{ outputs.diagnose.vars.risk_assessment }}"
            error_type: "{{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}"
            affected_table: "{{ outputs.fetch_failed_execution_context.outputs.affected_table ?? vars.affected_table }}"
            method_label: AUTO_SQL
          wait: true
          transmitFailed: true

      HIGH:
        - id: human_approval
          type: io.kestra.plugin.core.flow.Pause
          description: |
            🛡️ HIGH RISK — Human Approval Required

            Fix Source: {{ outputs.diagnose.vars.fix_source }}
            Gemini Diagnosis: {{ outputs.diagnose.vars.explanation }}
            Root Cause: {{ outputs.diagnose.vars.root_cause }}
            Confidence: {{ outputs.diagnose.vars.confidence }}

            Proposed Fix ({{ outputs.diagnose.vars.fix_type }}):
            {{ outputs.diagnose.vars.fix_code }}

            {{ outputs.diagnose.vars.correlation_notes }}
          onResume:
            - id: approved
              type: BOOLEAN
              description: "Approve this fix?"
            - id: reviewer_notes
              type: STRING
              description: "Optional reviewer notes"
              defaults: ""

        - id: check_approval
          type: io.kestra.plugin.core.flow.If
          condition: "{{ outputs.human_approval.onResume.approved }}"
          then:
            - id: approved_remediate
              type: io.kestra.plugin.core.flow.Subflow
              flowId: remediate_pipeline
              namespace: aegis
              inputs:
                fix_type: "{{ outputs.diagnose.vars.fix_type }}"
                fix_code: "{{ outputs.diagnose.vars.fix_code }}"
                error_signature: "{{ outputs.diagnose.vars.error_signature }}"
                incident_id: "{{ outputs.diagnose.vars.incident_id }}"
                fix_source: "{{ outputs.diagnose.vars.fix_source }}"
                root_cause: "{{ outputs.diagnose.vars.root_cause }}"
                explanation: "{{ outputs.diagnose.vars.explanation }}"
                confidence: "{{ outputs.diagnose.vars.confidence }}"
                risk_assessment: "{{ outputs.diagnose.vars.risk_assessment }}"
                error_type: "{{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}"
                affected_table: "{{ outputs.fetch_failed_execution_context.outputs.affected_table ?? vars.affected_table }}"
                method_label: APPROVED_SQL
              wait: true
              transmitFailed: true
          else:
            - id: escalate
              type: io.kestra.plugin.core.log.Log
              message: |
                🚨 ESCALATION: Fix rejected by reviewer.
                Pipeline: {{ outputs.fetch_failed_execution_context.outputs.pipeline_name ?? vars.pipeline_name }}
                Reviewer notes: {{ outputs.human_approval.onResume.reviewer_notes }}

  # ══════════════════════════════════════════════════════════
  # STEP 4: Post-Mortem with Memory & Correlation Stats
  # ══════════════════════════════════════════════════════════
  - id: post_mortem
    type: io.kestra.plugin.core.log.Log
    description: |
      **Incident Post-Mortem** — Generates structured report with fix source, memory stats, and correlation data.
    message: |
      ════════════════════════════════════════════════════════════════
      📋 KESTRA AEGIS — INCIDENT POST-MORTEM
      ════════════════════════════════════════════════════════════════
      🔴 PIPELINE FAILURE:
         • Pipeline:        {{ outputs.fetch_failed_execution_context.outputs.pipeline_name ?? vars.pipeline_name }}
         • Error Type:      {{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}
         • Affected Table:  {{ outputs.fetch_failed_execution_context.outputs.affected_table ?? vars.affected_table }}

      🤖 AI DIAGNOSIS:
         • Root Cause:      {{ outputs.diagnose.vars.root_cause }}
         • Confidence:      {{ outputs.diagnose.vars.confidence }}
         • Explanation:     {{ outputs.diagnose.vars.explanation }}

      🧠 FIX SOURCE:        {{ outputs.diagnose.vars.fix_source }}
         (MEMORY = proven past fix reused | AI = fresh Gemini diagnosis)

      🔧 REMEDIATION:
         • Risk Level:      {{ outputs.classify_error.vars.risk_level }}
         • Method:          {{ outputs.auto_remediate.outputs.method ?? outputs.approved_remediate.outputs.method ?? 'SKIPPED' }}
         • Final Status:    {{ outputs.auto_remediate.outputs.status ?? outputs.approved_remediate.outputs.status ?? 'SKIPPED' }}
         • Executed Code:   {{ outputs.auto_remediate.outputs.executed_code ?? outputs.approved_remediate.outputs.executed_code ?? 'None' }}

      📊 MEMORY STATS:      {{ outputs.diagnose.vars.memory_stats }}

      🔗 CORRELATION:       {{ outputs.diagnose.vars.correlation_notes }}
      ════════════════════════════════════════════════════════════════

  - id: read_heal_counter
    type: io.kestra.plugin.core.kv.Get
    description: |
      **KV Metrics Read** — Reads the current total heals counter.
    key: aegis_total_heals
    errorOnMissing: false

  - id: update_heal_counter
    type: io.kestra.plugin.core.kv.Set
    description: |
      **KV Metrics Update** — Increments the total heals counter in Kestra's KV Store for cross-execution tracking.
    key: aegis_total_heals
    kvType: NUMBER
    value: "{{ (outputs.read_heal_counter.value ?? 0) | int + 1 }}"


  - id: update_last_incident
    type: io.kestra.plugin.core.kv.Set
    key: aegis_last_incident_time
    value: "{{ now() }}"

  - id: update_system_status
    type: io.kestra.plugin.core.kv.Set
    key: aegis_system_status
    value: "{{ outputs.auto_remediate.outputs.status ?? outputs.approved_remediate.outputs.status ?? 'MONITORING' }}"

  - id: slack_notification
    type: io.kestra.plugin.core.http.Request
    uri: "{{ globals['slack-webhook-url'] }}"
    method: POST
    contentType: application/json
    body: |
      {
        "text": "🛡️ *Kestra Aegis — Self-Healing Report*\n\n*Pipeline:* `{{ outputs.fetch_failed_execution_context.outputs.pipeline_name ?? vars.pipeline_name }}`\n*Error:* `{{ outputs.fetch_failed_execution_context.outputs.error_type ?? vars.error_type }}`\n*Fix Source:* `{{ outputs.diagnose.vars.fix_source }}`\n*Status:* *{{ outputs.auto_remediate.outputs.status ?? outputs.approved_remediate.outputs.status ?? 'SKIPPED' }}*\n\n*Root Cause:* {{ outputs.diagnose.vars.root_cause }}\n*Executed:* `{{ outputs.auto_remediate.outputs.executed_code ?? outputs.approved_remediate.outputs.executed_code ?? 'None' }}`"
      }
    runIf: "{{ globals['slack-webhook-url'] is defined and globals['slack-webhook-url'] != '' }}"

  - id: auto_replay_execution
    type: io.kestra.plugin.scripts.python.Script
    description: |
      **Auto Replay Executor** — Automatically restarts the failed pipeline execution after successful healing.
    runIf: "{{ trigger is defined and trigger.containsKey('executionId') and (outputs.auto_remediate.outputs.status == 'FIXED' or outputs.approved_remediate.outputs.status == 'FIXED') }}"
    beforeCommands:
      - pip install requests==2.32.3
    env:
      FAILED_EXECUTION_ID: "{{ vars.failed_execution_id }}"
    script: |
      import os, sys, requests
      
      failed_exec_id = os.getenv("FAILED_EXECUTION_ID")
      auth = ("admin@kestra.io", "Admin1234!")
      
      url = f"http://localhost:8080/api/v1/executions/{failed_exec_id}/replay"
      print(f"🔄 Requesting auto-replay for execution {failed_exec_id}...")
      try:
          resp = requests.post(url, auth=auth, timeout=10)
          print(f"Replay response status: {resp.status_code}")
          if resp.status_code in (200, 201):
              print("✅ Execution successfully replayed! Pipeline has resumed.")
          else:
              print(f"❌ Failed to replay execution: {resp.text}")
      except Exception as e:
          print(f"Error during auto-replay: {e}", file=sys.stderr)

outputs:
  - id: incident_id
    type: STRING
    value: "{{ outputs.diagnose.vars.incident_id }}"
  - id: fix_source
    type: STRING
    value: "{{ outputs.diagnose.vars.fix_source }}"
  - id: final_status
    type: STRING
    value: "{{ outputs.auto_remediate.outputs.status ?? outputs.approved_remediate.outputs.status ?? 'SKIPPED' }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: aegis-webhook-secret

  - id: flow_listener
    type: io.kestra.plugin.core.trigger.Flow
    description: "Listen to any pipeline failures in the namespace"
    conditions:
      - type: io.kestra.plugin.core.condition.ExecutionStatus
        in:
          - FAILED
      - type: io.kestra.plugin.core.condition.ExecutionNamespace
        namespace: aegis
      - type: io.kestra.plugin.core.condition.Expression
        expression: "{{ trigger.flowId != 'self_healing' and trigger.flowId != 'remediate_pipeline' and trigger.flowId != 'demo_runner' }}"

errors:
  - id: global_error_handler
    type: io.kestra.plugin.core.log.Log
    message: |
      ⚠️ Aegis self-healing flow itself failed!
      Error: {{ errorLogs() }}
