flows/self_healing.yml
id: self_healing
namespace: aegis

inputs:
  - id: pipeline_name
    type: STRING
  - id: error_message
    type: STRING
  - id: error_type
    type: STRING
    defaults: UNKNOWN
  - id: affected_table
    type: STRING
    defaults: unknown
  - id: stack_trace
    type: STRING
    defaults: ""
  - id: sample_data
    type: STRING
    defaults: ""
  - id: schema_info
    type: STRING
    defaults: ""

tasks:
  # ── Step 1: Classify Error Risk ──────────────────
  - id: classify_error
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    env:
      ERROR_TYPE: "{{ trigger.body.error_type ?? inputs.error_type }}"
      ERROR_MESSAGE: "{{ trigger.body.error_message ?? inputs.error_message }}"
    script: |
      import argparse
      import json
      import os

      error_type = os.getenv("ERROR_TYPE", "UNKNOWN").upper()
      error_msg = os.getenv("ERROR_MESSAGE", "")

      # Rule-based risk assessment mapping
      HIGH_RISK_TYPES = ["SCHEMA_DRIFT", "DATA_LOSS", "PERMISSION_ERROR"]
      LOW_RISK_TYPES = ["TYPE_MISMATCH", "NULL_VIOLATION", "API_TIMEOUT", "STALE_DATA"]

      if error_type in HIGH_RISK_TYPES:
          risk_level = "HIGH"
      elif error_type in LOW_RISK_TYPES:
          risk_level = "LOW"
      else:
          risk_level = "HIGH"

      outputs = {
          "risk_level": risk_level,
          "error_type": error_type,
          "error_message": error_msg
      }

      print(f"::{json.dumps({'outputs': outputs})}::", flush=True)

  # ── Step 2: Diagnose (Real Gemini API) ──────────
  - id: diagnose
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install google-genai
    env:
      GEMINI_API_KEY: "{{ globals['gemini-api-key'] }}"
      PIPELINE_NAME: "{{ trigger.body.pipeline_name ?? inputs.pipeline_name }}"
      ERROR_TYPE: "{{ trigger.body.error_type ?? inputs.error_type }}"
      ERROR_MESSAGE: "{{ trigger.body.error_message ?? inputs.error_message }}"
      AFFECTED_TABLE: "{{ trigger.body.affected_table ?? inputs.affected_table }}"
      SCHEMA_INFO: "{{ trigger.body.schema_info ?? inputs.schema_info }}"
      SAMPLE_DATA: "{{ trigger.body.sample_data ?? inputs.sample_data }}"
    script: |
      import os
      import sys
      import json
      from google import genai
      from google.genai import types

      def main():
          api_key = os.getenv("GEMINI_API_KEY")
          if not api_key:
              print("Error: GEMINI_API_KEY environment variable is not set.", file=sys.stderr)
              sys.exit(1)

          pipeline_name = os.getenv("PIPELINE_NAME", "unknown")
          error_type = os.getenv("ERROR_TYPE", "UNKNOWN")
          error_message = os.getenv("ERROR_MESSAGE", "")
          affected_table = os.getenv("AFFECTED_TABLE", "unknown")
          schema_info = os.getenv("SCHEMA_INFO", "")
          sample_data = os.getenv("SAMPLE_DATA", "")

          prompt = f"""
      You are Kestra Aegis, an automated self-healing pipeline assistant.
      Your task is to analyze a failed data pipeline run and generate a fix.

      Failure details:
      - Pipeline Name: {pipeline_name}
      - Error Type: {error_type}
      - Error Message: {error_message}
      - Affected Table: {affected_table}
      - Schema Info: {schema_info}
      - Sample Data: {sample_data}

      Target Database is DuckDB. Use DuckDB-compatible SQL syntax.
      Never generate DROP, DELETE, or TRUNCATE statements.

      If the fix is a SQL query, set fix_type to 'SQL' and fix_code to the SQL statement.
      If the fix is a python script, set fix_type to 'PYTHON' and fix_code to the Python script.
      If the pipeline should be retried later, set fix_type to 'RETRY'.
      If the error is unknown or cannot be fixed safely, set fix_type to 'SKIP' and risk_assessment to 'HIGH'.
      """

          try:
              client = genai.Client(api_key=api_key)
              response = client.models.generate_content(
                  model='gemini-2.5-flash',
                  contents=prompt,
                  config=types.GenerateContentConfig(
                      response_mime_type="application/json",
                      response_schema=types.Schema(
                          type=types.Type.OBJECT,
                          properties={
                              "root_cause": types.Schema(type=types.Type.STRING),
                              "fix_type": types.Schema(type=types.Type.STRING, enum=["SQL", "PYTHON", "RETRY", "SKIP"]),
                              "fix_code": types.Schema(type=types.Type.STRING),
                              "explanation": types.Schema(type=types.Type.STRING),
                              "confidence": types.Schema(type=types.Type.NUMBER),
                              "risk_assessment": types.Schema(type=types.Type.STRING, enum=["LOW", "HIGH"])
                          },
                          required=["root_cause", "fix_type", "fix_code", "explanation", "confidence", "risk_assessment"]
                      )
                  )
              )
              
              result_json = json.loads(response.text)
          except Exception as e:
              print(f"Gemini API or Parse Error: {e}", file=sys.stderr)
              result_json = {
                  "root_cause": f"Error during Gemini diagnosis: {str(e)}",
                  "fix_type": "SKIP",
                  "fix_code": "",
                  "explanation": "Aegis failed to diagnose the issue using Gemini API.",
                  "confidence": 0.0,
                  "risk_assessment": "HIGH"
              }

          print(f"::{json.dumps({'outputs': result_json})}::", flush=True)

      if __name__ == "__main__":
          main()

  # ── Step 3: Risk Gate routing ─────────────────────
  - id: risk_gate
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ outputs.classify_error.vars.risk_level }}"
    cases:
      LOW:
        - id: auto_remediate
          type: io.kestra.plugin.scripts.python.Script
          containerImage: python:3.11-slim
          beforeCommands:
            - pip install duckdb
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
            volumes:
              - /tmp/kestra-wd:/app/data
          retry:
            type: exponential
            maxAttempt: 3
            interval: PT5S
            maxInterval: PT1M
          env:
            FIX_TYPE: "{{ outputs.diagnose.vars.fix_type }}"
            FIX_CODE: "{{ outputs.diagnose.vars.fix_code }}"
          script: |
            import os
            import sys
            import json
            import duckdb

            def main():
                fix_type = os.getenv("FIX_TYPE", "SKIP").upper()
                fix_code = os.getenv("FIX_CODE", "").strip()
                db_path = "/app/data/pipeline.duckdb"

                if not fix_code:
                    print("No fix code provided.", file=sys.stderr)
                    outputs = {
                        "status": "SKIPPED",
                        "method": "NONE",
                        "error_message": "No fix code provided."
                    }
                    print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                    sys.exit(0)

                # Safety Check
                code_lower = fix_code.lower()
                banned_keywords = ["drop ", "delete ", "truncate "]
                for word in banned_keywords:
                    if word in code_lower:
                        err_msg = f"Safety violation: code contains banned keyword '{word.strip().upper()}'"
                        print(err_msg, file=sys.stderr)
                        outputs = {
                            "status": "FAILED",
                            "method": "SAFETY_CHECK",
                            "error_message": err_msg
                        }
                        print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                        sys.exit(1)

                # Execution
                if fix_type == "SQL":
                    if not os.path.exists(db_path):
                        err_msg = f"Database file not found at {db_path}."
                        print(err_msg, file=sys.stderr)
                        outputs = {
                            "status": "FAILED",
                            "method": "AUTO_SQL",
                            "error_message": err_msg
                        }
                        print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                        sys.exit(1)

                    print(f"Connecting to DuckDB at {db_path}...")
                    con = duckdb.connect(db_path)
                    try:
                        print(f"Executing SQL Fix:\n{fix_code}")
                        con.execute(fix_code)
                        print("SQL executed successfully.")
                        outputs = {
                            "status": "FIXED",
                            "method": "AUTO_SQL",
                            "executed_code": fix_code
                        }
                    except Exception as e:
                        err_msg = f"SQL error: {str(e)}"
                        print(err_msg, file=sys.stderr)
                        outputs = {
                            "status": "FAILED",
                            "method": "AUTO_SQL",
                            "error_message": err_msg
                        }
                    finally:
                        con.close()

                elif fix_type == "PYTHON":
                    print(f"Executing Python Fix:\n{fix_code}")
                    try:
                        local_vars = {}
                        exec(fix_code, globals(), local_vars)
                        print("Python code executed successfully.")
                        outputs = {
                            "status": "FIXED",
                            "method": "AUTO_PYTHON",
                            "executed_code": fix_code
                        }
                    except Exception as e:
                        err_msg = f"Python error: {str(e)}"
                        print(err_msg, file=sys.stderr)
                        outputs = {
                            "status": "FAILED",
                            "method": "AUTO_PYTHON",
                            "error_message": err_msg
                        }

                else:
                    outputs = {
                        "status": "SKIPPED",
                        "method": fix_type,
                        "error_message": f"Execution skipped for fix type: {fix_type}."
                    }

                # Write output to Kestra format
                print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                if outputs["status"] == "FAILED":
                    sys.exit(1)

            if __name__ == "__main__":
                main()
      HIGH:
        - id: human_approval
          type: io.kestra.plugin.core.flow.Pause
          description: |
            Gemini Diagnosis: {{ outputs.diagnose.vars.explanation }}
            Proposed Fix ({{ outputs.diagnose.vars.fix_type }}):
            {{ outputs.diagnose.vars.fix_code }}
          onResume:
            - id: approved
              type: BOOLEAN
              description: "Approve this fix?"
            - id: reviewer_notes
              type: STRING
              description: "Optional reviewer notes"
              defaults: ""

        - id: check_approval
          type: io.kestra.plugin.core.flow.If
          condition: "{{ outputs.human_approval.onResume.approved }}"
          then:
            - id: approved_remediate
              type: io.kestra.plugin.scripts.python.Script
              containerImage: python:3.11-slim
              beforeCommands:
                - pip install duckdb
              taskRunner:
                type: io.kestra.plugin.scripts.runner.docker.Docker
                volumes:
                  - /tmp/kestra-wd:/app/data
              retry:
                type: exponential
                maxAttempt: 3
                interval: PT5S
                maxInterval: PT1M
              env:
                FIX_TYPE: "{{ outputs.diagnose.vars.fix_type }}"
                FIX_CODE: "{{ outputs.diagnose.vars.fix_code }}"
              script: |
                import os
                import sys
                import json
                import duckdb

                def main():
                    fix_type = os.getenv("FIX_TYPE", "SKIP").upper()
                    fix_code = os.getenv("FIX_CODE", "").strip()
                    db_path = "/app/data/pipeline.duckdb"

                    if not fix_code:
                        print("No fix code provided.", file=sys.stderr)
                        outputs = {
                            "status": "SKIPPED",
                            "method": "NONE",
                            "error_message": "No fix code provided."
                        }
                        print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                        sys.exit(0)

                    # Safety Check
                    code_lower = fix_code.lower()
                    banned_keywords = ["drop ", "delete ", "truncate "]
                    for word in banned_keywords:
                        if word in code_lower:
                            err_msg = f"Safety violation: code contains banned keyword '{word.strip().upper()}'"
                            print(err_msg, file=sys.stderr)
                            outputs = {
                                "status": "FAILED",
                                "method": "SAFETY_CHECK",
                                "error_message": err_msg
                            }
                            print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                            sys.exit(1)

                    # Execution
                    if fix_type == "SQL":
                        if not os.path.exists(db_path):
                            err_msg = f"Database file not found at {db_path}."
                            print(err_msg, file=sys.stderr)
                            outputs = {
                                "status": "FAILED",
                                "method": "AUTO_SQL",
                                "error_message": err_msg
                            }
                            print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                            sys.exit(1)

                        print(f"Connecting to DuckDB at {db_path}...")
                        con = duckdb.connect(db_path)
                        try:
                            print(f"Executing SQL Fix:\n{fix_code}")
                            con.execute(fix_code)
                            print("SQL executed successfully.")
                            outputs = {
                                "status": "FIXED",
                                "method": "AUTO_SQL",
                                "executed_code": fix_code
                            }
                        except Exception as e:
                            err_msg = f"SQL error: {str(e)}"
                            print(err_msg, file=sys.stderr)
                            outputs = {
                                "status": "FAILED",
                                "method": "AUTO_SQL",
                                "error_message": err_msg
                            }
                        finally:
                            con.close()

                    elif fix_type == "PYTHON":
                        print(f"Executing Python Fix:\n{fix_code}")
                        try:
                            local_vars = {}
                            exec(fix_code, globals(), local_vars)
                            print("Python code executed successfully.")
                            outputs = {
                                "status": "FIXED",
                                "method": "AUTO_PYTHON",
                                "executed_code": fix_code
                            }
                        except Exception as e:
                            err_msg = f"Python error: {str(e)}"
                            print(err_msg, file=sys.stderr)
                            outputs = {
                                "status": "FAILED",
                                "method": "AUTO_PYTHON",
                                "error_message": err_msg
                            }

                    else:
                        outputs = {
                            "status": "SKIPPED",
                            "method": fix_type,
                            "error_message": f"Execution skipped for fix type: {fix_type}."
                        }

                    # Write output to Kestra format
                    print(f"::{json.dumps({'outputs': outputs})}::", flush=True)
                    if outputs["status"] == "FAILED":
                        sys.exit(1)

                if __name__ == "__main__":
                    main()
          else:
            - id: escalate
              type: io.kestra.plugin.core.log.Log
              message: |
                🚨 ESCALATION: Fix rejected by reviewer.
                Pipeline: {{ trigger.body.pipeline_name ?? inputs.pipeline_name }}
                Reviewer notes: {{ outputs.human_approval.onResume.reviewer_notes }}

  # ── Step 4: Incident Documentation ────────────────
  - id: post_mortem
    type: io.kestra.plugin.core.log.Log
    message: |
      ════════════════════════════════════════════════════════════════
      📋 KESTRA AEGIS — INCIDENT POST-MORTEM
      ════════════════════════════════════════════════════════════════
      🔴 PIPELINE FAILURE DETAILS:
         • Pipeline:        {{ trigger.body.pipeline_name ?? inputs.pipeline_name }}
         • Error Type:      {{ trigger.body.error_type ?? inputs.error_type }}
         • Affected Table:  {{ trigger.body.affected_table ?? inputs.affected_table }}
         • Schema Info:     {{ trigger.body.schema_info ?? inputs.schema_info }}

      🤖 AI DIAGNOSIS:
         • Root Cause:      {{ outputs.diagnose.vars.root_cause }}
         • Confidence:      {{ outputs.diagnose.vars.confidence }}
         • Explanation:     {{ outputs.diagnose.vars.explanation }}

      🔧 REMEDIATION METRICS:
         • Resolution Risk: {{ outputs.classify_error.vars.risk_level }}
         • Execution Method:{{ outputs.auto_remediate.vars.method ?? outputs.approved_remediate.vars.method ?? 'SKIPPED' }}
         • Final Status:    {{ outputs.auto_remediate.vars.status ?? outputs.approved_remediate.vars.status ?? 'SKIPPED' }}
         • Executed Code:   {{ outputs.auto_remediate.vars.executed_code ?? outputs.approved_remediate.vars.executed_code ?? 'None' }}
         • Error Details:   {{ outputs.auto_remediate.vars.error_message ?? outputs.approved_remediate.vars.error_message ?? 'None' }}
      ════════════════════════════════════════════════════════════════

  - id: slack_notification
    type: io.kestra.plugin.core.http.Request
    uri: "{{ globals['slack-webhook-url'] }}"
    method: POST
    contentType: application/json
    body: |
      {
        "text": "🛡️ *Kestra Aegis — Self-Healing Incident Report*\n\n*Pipeline:* `{{ trigger.body.pipeline_name ?? inputs.pipeline_name }}`\n*Error Type:* `{{ trigger.body.error_type ?? inputs.error_type }}`\n*Risk Level:* `{{ outputs.classify_error.vars.risk_level }}`\n*Status:* *{{ outputs.auto_remediate.vars.status ?? outputs.approved_remediate.vars.status ?? 'SKIPPED' }}*\n*Method:* `{{ outputs.auto_remediate.vars.method ?? outputs.approved_remediate.vars.method ?? 'NONE' }}`\n\n*AI Diagnosis:*\n> {{ outputs.diagnose.vars.root_cause }}\n\n*Executed Code:*\n```sql\n{{ outputs.auto_remediate.vars.executed_code ?? outputs.approved_remediate.vars.executed_code ?? 'None' }}\n```"
      }
    runIf: "{{ globals['slack-webhook-url'] is defined and globals['slack-webhook-url'] != '' }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: aegis-webhook-secret

errors:
  - id: global_error_handler
    type: io.kestra.plugin.core.log.Log
    message: |
      ⚠️ Aegis self-healing flow itself failed!
      Error: {{ errorLogs() }}
